<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Purple Admin</title>
  <base href="/">
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/stylesheets/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <div ng-include="'/views/partials/_navbar.html'"></div>
    <div class="container-fluid page-body-wrapper">
        <div ng-include="'/views/partials/_sidebar.html'"></div>
        <div class="main-panel">
        <div ng-view></div>
        <div ng-include="'/views/partials/_footer.html'"></div>
      </div>
    </div>
  </div>
  <!-- container-scroller -->



  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-route.min.js"></script>
  <script src="/javascripts/app.module.js"></script>
  <script src="/javascripts/core/core.module.js"></script>
  <script src="/javascripts/core/app.routes.js"></script>
  <script src="/javascripts/home/home.controller.js"></script>

  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/javascripts/js/off-canvas.js"></script>
  <script src="/javascripts/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/javascripts/js/dashboard.js"></script>
  <script src="/javascripts/js/file-upload.js"></script>
  <!-- End custom js for this page-->

</body>

</html>
